<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<!--Main Content Section-->
<main class="container">
    <div class="row">
        <div class="col">
            <h1><%= title %></h1>
            <a href="contact-list/add" class="btn btn-primary btn-sm"><i class="fas fa-plus-cirlce"></i> Add New Contact</a>
            <br>
            <table class="table table-bordered">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
                <% for(let count =0; count <  ContactList.length; count++) { %>
                    <tr>
                        <td>
                        <%= ContactList[count].name %>
                        </td>
                        <td>
                        <%= ContactList[count].email %>
                        </td>
                        <td>
                        <%= ContactList[count].phone %>
                        </td>
                        <td>
                            <a href="contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-warning btn-sm">Edit Contact</a>
                        </td>
                        <td>
                            <a href="contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm" id="deleteContact"><i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                <% } %>

            </table>
        </div>
    </div>
</main>

<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>